<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<div class="container">
  <h1>Forget password</h1>

  <% if(message){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <form action="/forget" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input id="email" type="text" class="form-control" name="email" placeholder="name@example.com" />
    </div>

    <div class="mb-3">
      <input type="submit" value="Send Recovery Email" class="btn btn-primary" name="submit" />
      <a href="/login">Login</a>
    </div>
  </form>
</div>
<%- include('../partials/footer'); -%>