<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<div class="container">
  <h1>Login here</h1>

  <% if(message){ %>
  <h3><%= message %></h3>
  <% } %>

  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        id="email"
        type="text"
        class="form-control"
        name="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        name="password"
        placeholder="********"
      />
    </div>
    <div class="mb-3">
      <input type="submit" value="Login" class="btn btn-primary" name="submit" />
      <a href="/register">Create new account</a>
    </div>
  </form>
</div>
<%- include('../partials/footer'); -%>
