<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<footer>
  <!-- <div style="background-color: rebeccapurple; color: white;" class="m-2 p-4">
    <p>Copyright (c) nodejs blog</p>
  </div> -->
</footer>
</body>

<script>
  // process order 
  $('order_form').on('submit', function(e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    var method = form.attr('method');
    var data = form.serialize();
    $.ajax({
      url: url,
      type: method,
      data: data,
      success: function(data) {
        console.log(data);
        window.location.href = '/order/success';
      }
    });
  });
</script>

</html>