<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <h1>My Store</h1>
    </div>

    <div class="align-items-center">
      <form action="/store" method="post">
        <button class="btn btn-lg btn-primary" type="submit">Create Store</button>
      </form>
    </div>

  </div>

</div>

<%- include('../partials/footer'); -%>