<!-- <script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/jsoj.js"></script>
<script src="/assets/js/script.js"></script> -->
<footer>
  <!-- <div style="background-color: rebeccapurple; color: white;" class="m-2 p-4">
    <p>Copyright (c) nodejs blog</p>
  </div> -->
</footer>
</body>

</html>