<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.css" />
  <link rel="stylesheet" href="/assets/css/bihongo.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/jsoj.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/script.js"></script>
</head>

<body>