:root {
  --offcanvas-width: 270px;
  --topNavbar-height: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

a {
  text-decoration: none !important;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbar-height) !important;
    height: calc(100% - var(--topNavbar-height)) !important;
  }
}
