<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
  <h1>Cart</h1>
  <div class="row justify-content-md-center">
    <% for(var i=0; i < carts.length; i++) { %>


    <br />
    <% } %>
  </div>
</div>

<%- include('../partials/footer'); -%>