    <!-- Sidebar -->
    <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

      <div class="offcanvas-body p-0">

        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-secondary small fw-bold text-uppercase px-3">
                Dashboard
              </div>
            </li>
            <li>
              <a href="/admin" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4">
              <hr />
            </li>


            <li>
              <div class="text-secondary small fw-bold text-uppercase px-3">
                Products
              </div>
            </li>


            <!-- Category -->
            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseProductCategory" role="button" aria-expanded="false" aria-controls="collapseProductCategory">
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Category</span>
                <span class="right-icon ms-auto">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </a>
              <div class="collapse" id="collapseProductCategory">
                <div>
                  <ul class="navbar-nav ps-3">
                    <li>
                      <a href="/admin/product/category" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                        <span>View Category</span>
                      </a>
                    </li>
                    <li>
                      <a href="/admin/product/category/add" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                        <span>Add Category</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <!-- End category -->


            <!-- Shop -->
            <li>
              <div class="text-secondary small fw-bold text-uppercase px-3">
                Shop
              </div>
            </li>

            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseShop" role="button" aria-expanded="false" aria-controls="collapseShop">
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Shop</span>
                <span class="right-icon ms-auto">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </a>
              <div class="collapse" id="collapseShop">
                <div>
                  <ul class="navbar-nav ps-3">
                    <li>
                      <a href="/admin/shop" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                        <span>View Shop</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <!-- End shop -->



          </ul>
        </nav>

      </div>
    </div>
    <!-- End Sidebar -->